@import '../_style/index.less';

@space-prefix-cls: ~'@{cls-prefix}-space';

.@{space-prefix-cls} {
  display: inline-flex;
  flex-wrap: wrap;
  &-direction-vertical {
    flex-direction: column;
  }
  &-direction-horizontal {
    flex-direction: row;
  }
}
