@import '../color/colors.less';

@whiteColor: white;
// 主题色
@primaryColor: @blue-base;
// 成功色
@successColor: @green-base;
// 错误色
@dangerColor: @red-base;
// 告警色
@warningColor: @orange-base;
// 中性色

@infoColor: #8b8b8b;

@fontColor: #4b4b4b;
@borderColor: #dcdcdc;
