@import '../../_style/index.less';
@import './mixin.less';

@row-prefix: ~'@{prefix}-row';
@col-prefix: ~'@{prefix}-col';

.@{row-prefix} {
  display: flex;
  flex-wrap: wrap;
  .@{col-prefix} {
    .for-offset(@span-total-num);
    .for-span(@span-total-num);
  }
}
